<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>FX Studios</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    {%block content %}
<div class="container">
    <h1>FX Studios</h1>
    <p>Frisørsalong i Oslo drevet av Felix Sun</p>
    

    <hr>

    <p>Hos FX Studios får du profesjonell hårstyling i et moderne og avslappet miljø. Book din time i dag!</p>

<div class="info">
    <p>Lokasjon: Oslo  &nbsp;&nbsp; tlf: 900 00 000 &nbsp;&nbsp; e-post: fx@studios.no</p>
</div>
    
 
    <p><strong>Åpningstider:</strong><br>
    Mandag – fredag: 09:00 – 18:00<br>
    Lørdag: 10:00 – 15:00</p>

    <hr>

    <div class="meny">
        <a href="/booktime">Book en time</a>
        <a href="/faq">FAQ</a>
        <a href="/admin">Admin innlogging</a>
    </div>

</div>

</body>
</html>
{% endblock %}  